<div class="bg-light pt-3 ">
    <h2 class="text-center ">Angular list of previous tasks:</h2>
    <hr>
</div>

<!-- <div class="container-fluid ">

    <ul class="nav nav-tabs d-flex justify-content-between ">
        <div class=" d-flex  flex-row">
            <li class="pt-2 mr-3">
                Last works >>>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink] = "['/works/cenzor']"  routerLinkActive="active">Cenzor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink] ="['/works/userslist']" routerLinkActive="active">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink] ="['/works/tasklist']" routerLinkActive="active">Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink] ="['/works/phonebook']" routerLinkActive="active">Phone book</a>
            </li>
        </div>
        <div class="pt-2">
            <a class=" mr-3 text-danger align-self-end" [routerLink] = "['/home']">
                Back to >>> Home
            </a>

        </div>

    </ul>
</div> -->

<div class="container-fluid ">

    <ul class="nav nav-tabs d-flex justify-content-between ">
        <div class=" d-flex  flex-row">
            <li class="pt-2 mr-3">
                Last works >>>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink] = "['cenzor']"  routerLinkActive="active">Cenzor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink] ="['userslist']" routerLinkActive="active">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink] ="['tasklist']" routerLinkActive="active">Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink] ="['phonebook']" routerLinkActive="active">Phone book</a>
            </li>
        </div>
        <div class="pt-2">
            <a class=" mr-3 text-danger align-self-end" [routerLink] = "['/home']">
                Back to >>> Home
            </a>

        </div>

    </ul>
    <div class="col-12 mt-5">
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
</div>